<hlm-dialog>
  <!-- boton para mostrar dialog -->
  <button brnDialogTrigger hlmBtn>Crear Granja</button>

  <hlm-dialog-content *brnDialogContent="let ctx" class="p-4">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Crear nueva granja</h3>
      <p hlmDialogDescription>
        Rellena los datos de la granja y haz clic en Crear para guardarla.
      </p>
    </hlm-dialog-header>

    <form
      [formGroup]="form"
      (ngSubmit)="onGuardar()"
      class="flex flex-col gap-4"
    >
      <label hlmLabel class="flex flex-col items-start w-full">
        <span>Nombre</span>
        <input
          type="text"
          formControlName="nombre"
          placeholder="Nombre de la granja"
          hlmInput
          class="block w-full px-3 py-2 border rounded-md placeholder:text-sm placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500"
        />
      </label>

      <label hlmLabel class="flex flex-col items-start w-full">
        <span>Codigo REGA</span>
        <input
          type="text"
          formControlName="codigo-rega"
          placeholder="ES210170001532"
          hlmInput
          required
        />
      </label>

      <label hlmLabel class="flex flex-col items-start w-full">
        <span>Dirección</span>
        <input
          type="direccion"
          formControlName="direccion"
          placeholder="Calle Falsa 123"
          hlmInput
          required
        />
      </label>

      <label hlmLabel class="flex flex-col items-start w-full">
        <span>Email</span>
        <input
          type="email"
          formControlName="email"
          placeholder="correo@ejemplo.com"
          hlmInput
        />
      </label>

      <hlm-dialog-footer class="flex justify-end gap-2">
        <button type="submit" hlmBtn variant="outline" size="sm">
          <ng-icon hlm size="sm" name="lucideCheck" />
          Crear
        </button>

        <button
          type="button"
          hlmBtn
          variant="destructive"
          size="sm"
          brnDialogClose
          class="border border-red-500 rounded-md"
        >
          <ng-icon hlm size="sm" name="lucideX" />
          Cancelar
        </button>
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
